
/*theme*/

.hacker { background: #000; color: #64dd17; }

/*toolbar*/

.hacker .v-toolbar { background: #000; color: #64dd17; }
.hacker .v-toolbar a { color: #64dd17; }

/*drawer*/

.hacker .v-drawer h1 { color: #64dd17; }
.hacker .v-drawer nav { background: #64dd17; }
.hacker .v-drawer .v-list a,
.hacker .v-drawer .v-list i { color: #000; }
.hacker .v-drawer .v-list .active { background: #000; color: #64dd17; }
.hacker .v-drawer .v-list .active i { color: #64dd17; }
.hacker .v-drawer .v-list + .mdc-list-divider { background: #000; opacity: .2; }

/*menu*/

.hacker .v-menu { background: #64dd17; }
.hacker .v-menu li { color: #000; }
.hacker .v-menu .active { background: #000; color: #64dd17; }

/*list*/

.hacker .v-list .mdc-list-item { color: #64dd17; }
.hacker .v-list .mdc-list-item__text__secondary { color: #64dd17; opacity: .7; }
.hacker .v-list + .mdc-list-divider { background: #64dd17; opacity: .7; }

/*fab*/

.hacker .v-fab { background: #64dd17; color: #000; }

/*button*/

.hacker .v-button { background: #64dd17; color: #000; }

/*dialog*/

.hacker .v-dialog { background: #64dd17; color: #000; }
.hacker .v-dialog .mdc-dialog__body { border-color: #000; }

/*textfield*/

.hacker .v-textfield input,
.hacker .v-textfield label { color: #64dd17; }
.hacker .v-textfield:after { background: #64dd17 !important; }

/*card*/

.hacker .v-card {
  background: #000;
  box-shadow:
    0 3px 1px -2px rgba(100,221,23,.2),
    0 2px 2px 0 rgba(100,221,23,.14),
    0 1px 5px 0 rgba(100,221,23,.12);
}
.hacker .v-card .mdc-card__title,
.hacker .v-card .mdc-card__supporting-text { color: #64dd17; }
.hacker .v-card .mdc-card__subtitle { background: #64dd17; color: #000; }

/*refresh button*/

.hacker .v-refresh,
.hacker .v-past { color: #64dd17; }

/*event slider*/

.hacker .v-slider .v-card .mdc-card__title {
  color: #64dd17;
}
