
/*theme*/

.light { background: #fff; color: #000; }

/*toolbar*/

.light .v-toolbar { background: #000; color: #fff; }

/*drawer*/

.light .v-drawer h1 { color: #fff; }
.light .v-drawer nav { background: #000; }
.light .v-drawer .v-list a,
.light .v-drawer .v-list i { color: #fff; }
.light .v-drawer .v-list .active { background: #fff; color: #000; }
.light .v-drawer .v-list .active i { color: #000; }
.light .v-drawer .v-list + .mdc-list-divider { background: #fff; opacity: .7; }

/*menu*/

.light .v-menu { background: #000; }
.light .v-menu li { color: #fff; }
.light .v-menu .active { background: #fff; color: #000; }

/*list*/

.light .v-list .mdc-list-item { color: #000; }
.light .v-list .mdc-list-item__text__secondary { color: #000; opacity: .7; }
.light .v-list + .mdc-list-divider { background: #000; opacity: .7; }

/*fab*/

.light .v-fab { background: #000; color: #fff; }

/*button*/

.light .v-button { background: #000; color: #fff; }

/*dialog*/

.light .v-dialog { background: #000; color: #fff; }
.light .v-dialog .mdc-dialog__body { border-color: #fff; }
.light .v-dialog .mdc-list-item { color: #fff; }
.light .v-dialog button { color: #fff; }

/*textfield*/

.light .v-textfield input,
.light .v-textfield label { color: #000; }
.light .v-textfield:after { background: #000 !important; }

/*card*/

.light .v-card {
  background: #fff;
  box-shadow:
    0 3px 1px -2px rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14),
    0 1px 5px 0 rgba(0,0,0,.12);
}
.light .v-card .mdc-card__title,
.light .v-card .mdc-card__supporting-text { color: #000; }
.light .v-card .mdc-card__subtitle { background: #000; color: #fff; }

/*refresh button*/

.light .v-refresh i { color: #000; }
