
/*theme*/

.shadow { background: #000; color: #fff; }

/*toolbar*/

.shadow .v-toolbar { background: #000; color: #fff; }

/*drawer*/

.shadow .v-drawer h1 { color: #fff; }
.shadow .v-drawer nav { background: #fff; }
.shadow .v-drawer .v-list a,
.shadow .v-drawer .v-list i { color: #000; }
.shadow .v-drawer .v-list .active { background: #000; color: #fff; }
.shadow .v-drawer .v-list .active i { color: #fff; }
.shadow .v-drawer .v-list + .mdc-list-divider { background: #000; opacity: .2; }

/*menu*/

.shadow .v-menu { background: #fff; }
.shadow .v-menu li { color: #000; }
.shadow .v-menu .active { background: #000; color: #fff; }

/*list*/

.shadow .v-list a { color: #fff; }
.shadow .v-list .mdc-list-item__text__secondary { color: #fff; opacity: .7; }
.shadow .v-list + .mdc-list-divider { background: #fff; opacity: .7; }

/*fab*/

.shadow .v-fab { background: #fff; color: #000; }

/*dialog*/

.shadow .v-dialog { background: #fff; color: #000; }
.shadow .v-dialog .mdc-dialog__body { border-color: #000; }

/*textfield*/

.shadow .v-textfield input,
.shadow .v-textfield label { color: #fff; }
.shadow .v-textfield:after { background: #fff !important; }
