
/*theme*/

.shadow { background: #000; color: #fff; }

/*toolbar*/

.shadow .v-toolbar { background: #000; color: #fff; }

/*drawer*/

.shadow .v-drawer h1 { color: #fff; }
.shadow .v-drawer nav { background: #fff; }
.shadow .v-drawer .v-list a,
.shadow .v-drawer .v-list i { color: #000; }
.shadow .v-drawer .v-list .active { background: #000; color: #fff; }
.shadow .v-drawer .v-list .active i { color: #fff; }
.shadow .v-drawer .v-list + .mdc-list-divider { background: #000; opacity: .2; }

/*menu*/

.shadow .v-menu { background: #fff; }
.shadow .v-menu li { color: #000; }
.shadow .v-menu .active { background: #000; color: #fff; }

/*list*/

.shadow .v-list .mdc-list-item { color: #fff; }
.shadow .v-list .mdc-list-item__text__secondary { color: #fff; opacity: .7; }
.shadow .v-list + .mdc-list-divider { background: #fff; opacity: .7; }

/*fab*/

.shadow .v-fab { background: #fff; color: #000; }

/*button*/

.shadow .v-button { background: #fff; color: #000; }

/*dialog*/

.shadow .v-dialog { background: #fff; color: #000; }
.shadow .v-dialog .mdc-dialog__body { border-color: #000; }

/*textfield*/

.shadow .v-textfield input,
.shadow .v-textfield label { color: #fff; }
.shadow .v-textfield:after { background: #fff !important; }

/*card*/

.shadow .v-card {
  background: #000;
  box-shadow:
    0 3px 1px -2px rgba(255,255,255,.2),
    0 2px 2px 0 rgba(255,255,255,.14),
    0 1px 5px 0 rgba(255,255,255,.12);
}
.shadow .v-card .mdc-card__supporting-text a { color: #F74552; }
.shadow .v-card .v-now { color: #64dd17; }

.shadow .v-card-slider .mdc-card__title,
.shadow .v-card-slider .mdc-card__subtitle { color: #fff; }

.shadow .v-card-events .mdc-card__title { color: #fff; }
.shadow .v-card-events .mdc-card__subtitle { background: #fff; color: #000; }

.shadow .v-card-event .mdc-card__subtitle,
.shadow .v-card-event .mdc-card__supporting-text { color: #fff; }

/*refresh button*/

.shadow .v-refresh,
.shadow .v-past { color: #fff; }
