
/*global*/

/*main content*/
.mdc-toolbar-fixed-adjust {
  margin-top: 230px !important; /*should be before @media!*/
}

/*desktop*/
@media (min-width: 400px) {
  body {
    width: 400px;
    margin: 0 auto;
  }

  .mdc-toolbar--fixed {
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }

  .mdc-toolbar-fixed-adjust {
    margin-top: 270px !important;
  }
}

/*all headers*/
h1 {
  text-align: center;
}

/*z-index*/
.v-toolbar { z-index: 1; }
.v-fab { z-index: 1; position: fixed; bottom: 1rem; right: 1rem; }
.v-snackbar { z-index: 2; }
.v-dialog { z-index: 3; }
.v-drawer { z-index: 4; }



/*toolbar*/

/*toolbar header scroll*/
.v-drawer .mdc-temporary-drawer__header-content,
.v-toolbar .mdc-toolbar__row:first-child::after {
  background-image: url('../images/matrix.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.v-toolbar .mdc-toolbar__row {
  overflow: hidden;
}
.v-toolbar .mdc-toolbar__row img {
  position: relative;
  z-index: 1;
  display: none;
  transition: all .1s;
  box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.5);
}
.v-toolbar .mdc-toolbar__row img.v-circle {
  border-radius: 50%;
}

/*toolbar header title*/
.v-toolbar .mdc-toolbar__title {
  opacity: 0;
  transition: all .1s;
  align-self: unset;
}
.v-toolbar .mdc-toolbar__section {
  z-index: 2;
}

/*whois filter*/
.v-toolbar .v-whois .mdc-toolbar__icon.active:nth-of-type(1) { color: #fff; }
.v-toolbar .v-whois .mdc-toolbar__icon.active:nth-of-type(2) { color: #44CF6C; }
.v-toolbar .v-whois .mdc-toolbar__icon.active:nth-of-type(3) { color: #FFD60A; }
.v-toolbar .v-whois .mdc-toolbar__icon.active:nth-of-type(4) { color: #EF2D56; }

/*events filter*/
.v-toolbar .v-events .mdc-toolbar__icon.active:nth-of-type(1) { color: #44CF6C; }
.v-toolbar .v-events .mdc-toolbar__icon.active:nth-of-type(2) { color: #FFD60A; }


/*drawer*/
.v-drawer .mdc-typography--display1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.v-drawer .mdc-list-item {
  font-size: 1rem;
}


/*textfield*/

.v-textfield {
  width: 100%;
}

.v-textfield input {
  display: block;
  width: 100%;
}


/*list*/

/*whois unknown*/
.v-unknown .mdc-list-item__start-detail {
  font-size: 34px;
  line-height: 40px;
}

/*online indicator*/
.v-online {
  color: #44CF6C;
}

/*list-links*/
.v-links [class*=icon-] {
  font-size: 40px;
}
.v-links [class*=icon-]:before {
  margin-left: 0;
}
.v-links .icon-trello {
  font-size: 38px;
}
.v-links .icon-slack {
  font-size: 35px; position: relative; top: 4px; left: 2px;
}
.v-links .icon-wikipedia {
  font-size: 30px; position: relative; top: 2px;
}
.v-links .icon-android {
  font-size: 35px; position: relative; left: 2px;
}
.v-links .icon-email {
  font-size: 30px; position: relative; top: 4px; left: 4px;
}


/*dialog*/
.v-dialog li {
  height: auto;
}
.v-dialog li strong {
  padding-right: 10px;
}

/*lab*/
.v-lab p {
  text-align: center;
}

/*cards*/
.v-card {
  text-decoration: none;
  margin-bottom: 20px;
}
.v-card .mdc-card__media {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.313rem;
}
/*card-slider*/
.v-card-slider .mdc-card__media {
  padding: 0;
}
.v-card-slider .mdc-card__title {
  background: rgba(0, 0, 0, .7);
  padding: 10px 16px 0;
}
.v-card-slider .mdc-card__subtitle {
  background: rgba(0, 0, 0, .7);
  text-align: center;
  padding: 3px 0;
  margin-top: 0;
}
/*card-events*/
.v-card-events .mdc-card__subtitle {
  text-align: center;
  padding: 3px 0;
  margin-top: 10px;
}
/*card-event*/
.v-card-event .mdc-card__media {
  padding: 0;
}
.v-card-event .mdc-card__subtitle {
  background: rgba(0, 0, 0, .7);
  text-align: center;
  padding: 5px 10px;
}

/*refresh button*/
.v-refresh {
  width: 100%;
}
.v-refresh i {
  position: relative;
  top: 5px;
}

/*past button*/
.v-past {
  width: 100%;
}
.v-past i {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

/*event slider*/
.v-slider {
  position: relative;
  height: 12.313rem;
}
.v-slider a {
  position: absolute;
  width: 100%;
  height: 12.313rem;
}

/*error message*/
.v-error {
  text-align: center;
}
